@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.footerNav {
	width: 623px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 32px;

	.links {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.footerTxt {
			color: #fff;
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 600;
			line-height: 16px;
		}

		.navList {
			display: flex;
			flex-direction: column;
			gap: 8px;
			color: #cfcfcf;

			.link {
				font-family: 'Inter', sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 32px;
			}
		}
	}
}
