@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.cartPageContent {
	height: 656px;
	margin: 112px 0;
	display: flex;
	gap: 48px;

	.addedProducts {
		overflow: scroll;
		width: 536px;
		display: flex;
		flex-direction: column;
		gap: 40px;

		.cartTitle {
			font-family: 'Inter', sans-serif;
			font-size: 24px;
			font-weight: 600;
			line-height: 24px;
		}

		.products {
			display: flex;
			flex-direction: column;
			gap: 40px;

			.product {
				height: 138px;
				display: flex;
				align-items: center;
				border-bottom: #a3a3a3 0.5px solid;

				.productImg {
					height: 90px;
					margin-right: 15px;
				}

				.productName {
					width: 191px;
					font-family: 'Inter', sans-serif;
					font-size: 16px;
					font-weight: 500;
					line-height: 24px;
				}

				.btns {
					height: 32px;
					display: flex;
					gap: 8px;

					button {
						width: 24px;
						height: 15px;
						font-family: 'Inter', sans-serif;
						font-size: 24px;
						font-weight: 300;
					}

					span {
						width: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-family: 'Inter', sans-serif;
						font-size: 16px;
						font-weight: 500;
						line-height: 24px;
						border-radius: 4px;
						border: #d9d9d9 1px solid;
					}
				}

				.productPrice {
					margin-right: 24px;
					margin-left: 24px;
					font-family: 'Inter', sans-serif;
					font-size: 20px;
					font-weight: 500;
					line-height: 32px;
				}

				.delete {
					display: flex;
					align-items: center;
					cursor: pointer;
				}
			}

			.product:last-child {
				border: none;
			}
		}
	}

	.orderSum {
		width: 536px;
		display: flex;
		flex-direction: column;
		padding: 56px 64px;
		border: #ebebeb 1px solid;
		border-radius: 10px;

		.orderSumTitle {
			font-family: 'Inter', sans-serif;
			font-size: 20px;
			font-weight: 700;
			line-height: 16px;
			margin-bottom: 40px;
		}

		.label {
			position: relative;

			.inputText {
				font-family: 'Inter', sans-serif;
				font-size: 14px;
				font-weight: 500;
				line-height: 16px;
				color: #545454;
				margin-bottom: 8px;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			.input {
				height: 56px;
				border: #9f9f9f 1px solid;
				border-radius: 7px;
				padding-left: 16px;
				margin-bottom: 24px;

				font-family: 'Inter', sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				color: #979797;
			}

			.apply {
				position: absolute;
				top: 35%;
				right: 3%;
				width: 76px;
				height: 32px;
				border: #000 1px solid;
				border-radius: 6px;

				font-family: 'Inter', sans-serif;
				font-size: 12px;
				font-weight: 500;
				line-height: 16px;
			}
		}

		.text {
			margin-bottom: 20px;
			display: flex;
			justify-content: space-between;

			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;

			p {
				color: #000;
			}
		}

		.additionsToThePrice {
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin-bottom: 16px;

			.grayText {
				margin: 0;
				font-family: 'Inter', sans-serif;
				letter-spacing: 3%;
				font-size: 16px;
				font-weight: 400;
				line-height: 32px;
				color: #545454;
			}
		}

		.btn {
			height: 56px;
			background-color: #000;
			border-radius: 6px;
			margin-top: 28px;
			color: #fff;

			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
		}
	}
}
